/* Estilos para la clase 'App' */
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}


.App {
    width: 90%;
    padding: 20px;
    background-color: #fdeff2;
    border-radius: 10px;
    box-shadow: 0 0 60px 1px pink;
}

.App label{
    margin: 0px;
    margin-right: 8px;
    margin-bottom: 15px;
}

.App input{
    cursor: pointer;
    font-size: 13px;
    color: rgb(112, 112, 112);
    height: 30px;
}

.opciones{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;

}

/* Estilos para el Date Picker */
.Date {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ffb6c1;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
}

/* Estilos para los botones */
.Button {
    background-color: #ff66a3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ButtonA{
    margin: 0;
    margin-bottom: 16px;
    padding: 5px;
    margin-left: 15px;
    height: 30px;
    font-size: 13px;
}

.Button:hover {
    background-color: #ff3385;
}

/* Estilos para la tabla y sus celdas */
.UsuariosT {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.UsuariosT th,
.UsuariosT td {
    border: 1px solid #ff99bb;
    padding: 10px;
    text-align: left;
}

/* Estilos para las celdas especiales */
.UsuariosT .th1 {
    font-weight: bold;
}

/* Estilos para los botones de la tabla */
.Botones button {
    margin-right: 10px;
    background-color: #ff66a3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Botones button:hover {
    background-color: #ff3385;
}

.divRep{
    margin-top: 20px;
    text-align: center;
}