/* Login.css */

.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fce4ec; /* Color de fondo rosa claro */
}

.FormLogin {
  background-color: #fff; /* Color de fondo blanco */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.FormLogin h1 {
  color: #ff4081; /* Color de texto rosa */
}

.FormLogin input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ff4081; /* Borde rosa */
  border-radius: 4px;
}

.FormLogin button {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  box-sizing: border-box;
  background-color: #ff4081; /* Color de fondo rosa */
  color: #fff; /* Color de texto blanco */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.FormLogin button:hover {
  background-color: #f50057; /* Color de fondo rosa oscuro al pasar el ratón */
}

/* Puedes ajustar estos estilos según tus preferencias */

}