.Registrar {
  background-color: #ffe6e6; /* Fondo rosa claro */
  padding: 20px;
}

.form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label1 {
  margin-bottom: 10px;
}

.Combo {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  background-color: #ff6699; /* Botón rosa */
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #ff3366; /* Cambio de color al pasar el mouse */
}